$violetColor: #ABA2E6;
$redColor: #C36761;
$darkGreenColor: #9DA4AC;
$grayColor: #8F7E7C;
$orangeColor: #BA5514;
$yellowColor: #DACB0C;

$breakpointSM: 576px;
$breakpointMD: 768px;
$breakpointLG: 992px;

.violet { color: $violetColor};

.red {color: $redColor};

.gray {color: $grayColor};


.violet {
    color: $violetColor
}
body {
    background-color: #1e1e24 !important;
    font-family: 'IBM Plex Mono', monospace;
    color: #DECBC9;
    margin: 0.5em 1em;
}
main, section {
    margin-bottom: 3em;
}
main {
    height: 100vh;
}

div#skills-div {
    h5 {
        font-size: 1.1em;
    }
    ul {
        padding-left: 0;
        li {
            display: inline;
        }
    }  
}




@media (min-width: 400px) {
    body {
        margin: 0.5em 3em;
    }
}

@media (min-width: $breakpointSM) {
    html {
        display: table;
        margin: auto;
    }
    body {
        margin: 0;
        max-width: 30em;
    }
}

@media (min-width: $breakpointMD) {
    body {
        max-width: 35em;
    }

}
@media (min-width: $breakpointLG) {
    body {
        max-width: 40em;
    }
}